<h1>Todo Lists</h1>

<div class="input-results">
	<input type="textfield" class="search-box"></input>
	<div class="white-box">
		names
	</div>
</div>


<div class="hidden">

	<ul class="matched-names template">
	</ul>

	<li class="found-name template">
	</li>

</div>